<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info">
    <targets>
        <target name="console" xsi:type="Console"
                layout="${longdate} ${level} ${aspnet-TraceIdentifier} ${message} ${exception:format=@}"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Error" writeTo="console"/>
    </rules>
</nlog>
